@charset "UTF-8";
 body{background-image:url('/images/base.jpeg');background-repeat:no-repeat;background-size:cover; background-attachment:fixed;}
 .div0{background-color:white;width:80%;margin:auto;border-radius:00px;}
 .table1{width:100%;height:10%;margin-left:auto;text-align:center;}
 .tr1{font-size:18px;width:14%;text-decoration:none;}
 .table2{width:100%;height:10%;margin-left:auto;text-align:center;margin-top:0;border:2px;font-size:6px}
 .img1{background-image:url('/images/team.jpeg');background-size:cover;width:80%;height:500px;margin:auto; background-origin:content-box;background-attachment:fixed;}
 .div1{width:0px;height:0px;margin-left:11%;margin-top:0px;border-radius:0px;font-family:Broadway; color:grey;font-size:40px}
 .icons{font-size:80px;}
 td{font-family:Limelight;color: 	 #006666;text-decoration:none;}
 .dropdown{display:none;position:absolute;z-index:1}
  a:link{text-decoration:none;}
 a:hover{color : red;}