<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href = "https://fonts.googleapis.com/css?family=Sofia|Rubik+Glitch|Fontdiner+Swanky|Limelight">
<meta name ="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href = "style1.css">
</head>
<body>
  <div class="div0">
	<table class="table1" >
		<tr class="tr1">
			<td style="font-size:25px;width:30%;font-family:'Fontdiner Swanky', Arial;"> <span style='font-size:27px;'>&#9925;</span><b>Koder</b>Cloud</td>
			<td><a href="https://www.google.com/">Home</a></td>
			
			<td><a href="https://www.google.com/">About Us</a></td>
			<td><a href="https://www.google.com/">Portfolio</a></td>
			<td><a href="https://www.google.com/">Services</a></td>
			<td><a href="https://www.google.com/">Contact Us</a></td>
		
		</tr>
    </table>
   </div>
   <div class="img1">
		<div class="div1">
			Let Us Change the World!
			Without Taking Power Violently
		</div>
   </div>
   <div style="width:80%;margin:auto; background-color:#f0e7e6; height:400px">
        <section>
		 <table class="table2">
			<tr style="font-size:25px; width:100%;height:180px;">
				<th style="text-align:center;font-family:'Fontdiner Swanky', Arial;" colspan="4"> Koders Section</th>
			</tr>
			<tr style="width:100%;height:180px;">
				<td style="width:50%;border-width:2px;border-style:outset;font-size:15px;">
					<span class="icons" style="font-size:30px;">&#128345;
					<a href="/time">Employee</a>
					</span>
				</td>
				<td style="width:50%;border-width:2px;border-style:outset;font-size:15px;">
					<span class="icons" style="font-size:30px;">&#128176;
					Administrator
					</span>
				</td>
				
			</tr>
			
		 </table>
		 
		</section>
   </div>
 
<footer>
</footer>
</body>
</html>